
<form method="post" action="/pets/<%=@pet.pet_id%>">

  <label for="pet-name-field">Name:</label>
  <input
  type="text"
  name="pet_name"
  id="pet-name-field"
  value="<%=@pet.pet_name%>"

  />

  <label for="pet-type-field">Pet Type:</label>
  <input
  type="text"
  name="pet_type"
  id="pet-type-field"
  value="<%=@pet.pet_type%>"

  />

  <label for="breed-field">Pet Breed:</label>
  <input
  type="text"
  name="breed"
  id="breed-field"
  value="<%=@pet.breed%>"

  />
  <label for="sex-field">Pet Sex:</label>
  <input
  type="text"
  name="sex"
  id="sex-field"
  value="<%=@pet.sex%>"

  />

  <label for="age-field">Pet Age:</label>
  <input
  type="text"
  name="age"
  id="age-field"
  value="<%=@pet.age%>"

  />

  <label for="adoptable-field">Adoptable?:</label>
  <input
  type="text"
  name="adoptable"
  id="adoptable-field"
  value="<%=@pet.adoptable%>"

  />

  <label for="admission-field">Admission:</label>
  <input
  type="text"
  name="admission"
  id="admission-field"
  value="<%=@pet.admission%>"

  />

  <label for="pet-photo-field">Pet Photo:</label>
  <input
  type="text"
  name="pet_photo"
  id="pet-photo-field"
  value="<%=@pet.pet_photo%>"
  />

  <input type="submit" value="Update Pet"/>
  </form>

   