
<h2>Registered Shelter Pets</h2>
<nav>
  <a href="/pets/new">Add Pet</a>
</nav>
<% @result.each do |pet| %>
  <p>Name: <%=pet.pet_name%></p>
  <p>Type: <%=pet.pet_type%></p>
  <p>Breed: <%=pet.breed%></p>
  <p>Sex:  <%=pet.sex%></p>
  <p>Age: <%=pet.age%></p>
  <p>Adoptable?: <%=pet.adoptable%></p>
  <p>Admission Date: <%=pet.admission%></p>
  <img src="<%=pet.pet_photo%>"/>
  <p>
    <form action="/pets/<%= pet.pet_id %>/delete" method="POST">
      <input class="btn btn--danger" type="submit" value="delete" />
    </form>
  </p>
<hr/>
<% end %>


