<h2>Happy Pets and Owners</h2>

<% @owners.each do |owner| %>
  
  <p>First Name: <%=owner.first_name%></p>
  <p>Last Name: <%=owner.last_name%></p>
  <img src="<%=owner.owner_photo%>"/>

  <% owner.pets.each do |pet| %>  
    <p>Pet Name: <%=pet.pet_name%></p>
    <img src="<%=pet.pet_photo%>"/>
  <% end %>

<% end %>




