
<h2>Registered Owners</h2>
<nav>
  <a href="/owners/new">Add Owner</a>
</nav>
<% @result.each do |owner| %>
<p>First Name: <%=owner.first_name%></p>
<p>Last Name: <%=owner.last_name%></p>
<p>Pet Wanted: <%=owner.pet_type%></p>
<p>Adopted Pet: <%=owner.adopted_pet%></p>
<img src="<%=owner.owner_photo%>"/>
<p>
  <form action="/owners/<%= owner.owner_id %>/delete" method="post">
    <input class="owners" type="submit" value="delete" />
  </form>
</p>
<p>
  <form action="/owners/<%= owner.owner_id %>/edit" method="get">
    <input class="owners" type="submit" value="edit" />
  </form>
</p>
<hr/>
<% end %>


